.dropdown{
    position: relative;
}

.inputGroup{
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
}

.inputGroup label{
    display: block;
    color: var(--input-label);
    margin: 5px 0;
    font-size: 14px;
}

.inputGroup input{
    width: calc(100% - 10px);
    height: 40px;
    margin: 0 5px;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid var(--input-label);
    font-size: 16px;
}

.bold{
    font-weight: bold;
}

.inputGroup .search{
    padding-left: 40px;
    background-image: url("/assets/location2.png");
    background-size: 15px;
    background-position: 10px center;
    background-repeat: no-repeat;
}

.checkGroup{
    padding: 10px 5px;
    display: flex;
    gap: 10px;
}

.checkGroup label{
    width: 100%;
    display: block;
    font-size: 14px;
    text-wrap: wrap;
}

.checkGroup label:hover{
    cursor: pointer;
}

.address{
    font-size: 16px;
}

.dropdownContent{
    position: absolute;
    scrollbar-width: none;
    z-index: 3;
    width: 100%;
    max-width: 790px;
    max-height: 235px;
    margin: 0 5px;
    overflow: auto;
    border: 1px solid var(--input-label);
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.);
}

.dropdownContent::-webkit-scrollbar{
    display: none;
}

.dropdownContent button, .dropdownContent > p{
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    text-align: left;
    background-color: white;
    border: none;
}

.dropdownContent button:hover{
    background-color: var(--nav-bg);
    cursor: pointer;
}

.datetime{
    display: flex;
    gap: 10px;
}

.hide{
    display: none;
}

@media (max-width: 250px){
    .datetime{
        flex-direction: column;
    }
}