.icon{
    position: relative;
    width: 25px;
    aspect-ratio: 1;
}

.icon:hover{
    cursor: pointer;
}

.icon:active{
    box-shadow: none;
}

.mobileOnly{
    display: none;
}

.small{
    width: 15px;
}

@media (max-width: 800px){
    .mobileOnly{
        display: block;
    }
}